<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Settings>
  <Generation>
    <UseSeed>false</UseSeed>
    <Seed>-1261459547</Seed>
    <Width>1000</Width>
    <Length>1000</Length>
    <StartX>-500</StartX>
    <StartY>-500</StartY>
    <Amount>1500</Amount>
    <Point>0</Point>
    <Voronoi>1</Voronoi>
    <Parent>Town</Parent>
  </Generation>
  <Districts>
    <Grass>
      <Frequency>3</Frequency>
      <Size>0.42899999022483826</Size>
      <Buildings>
        <Building ID="0">Assets/Resources/Prefabs/S_Building_01.prefab</Building>
        <Building ID="1">Assets/Resources/Prefabs/S_Building_03.prefab</Building>
        <Building ID="2">Assets/Resources/Prefabs/S_Building_04.prefab</Building>
      </Buildings>
    </Grass>
    <Urban>
      <Frequency>1</Frequency>
      <Size>0.57099997997283936</Size>
      <Buildings>
        <Building ID="0">Assets/Store Assets/SimpleTownLite/_Prefabs/Building_PizzaShop.prefab</Building>
        <Building ID="1">Assets/Store Assets/SimpleTownLite/_Prefabs/Building_Apartment.prefab</Building>
        <Building ID="2">Assets/Store Assets/SimpleTownLite/_Prefabs/store_small_drug.prefab</Building>
      </Buildings>
    </Urban>
    <Factory>
      <Frequency>3</Frequency>
      <Size>0.30899998545646667</Size>
      <Buildings>
        <Building ID="0">Assets/Resources/Prefabs/F_Building_01.prefab</Building>
        <Building ID="1">Assets/Resources/Prefabs/F_Building_03.prefab</Building>
        <Building ID="2">Assets/Resources/Prefabs/F_Building_05.prefab</Building>
        <Building ID="3">Assets/Resources/Prefabs/F_Building_06.prefab</Building>
      </Buildings>
    </Factory>
  </Districts>
  <Road>
    <Amount>7</Amount>
    <Max>75</Max>
    <Branches>3</Branches>
  </Road>
  <River>
    <Amount>1</Amount>
    <Max>7</Max>
    <Branches>1</Branches>
  </River>
</Settings>